<template>
  <div class="fullscreen text-white text-center q-pa-md flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-md" style="max-width: 300px">
        <q-input v-model="text" label="Username" />
        <q-input v-model="text" label="Password" />
        <q-btn label="Login" outline/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'Error404'
})
</script>
