<template>
  <div class="q-pa-md justify-center fit row ">
    <div class="q-gutter-md text-center" style="width: 500px;">
      <q-banner rounded class="bg-purple-8 text-white text-justify">
        NOTE: Your token grants full access to your Lotus node. Please don't store your token in an unsecure place or give it to an untrusted party. Here's the command to view your token:<br/>
         <q-badge color="blue">
          cat ~/.lotus/token
         </q-badge>
<!--         <template v-slot:action>
          <q-btn flat color="white" label="Continue as a Guest" />
          <q-btn flat color="white" label="Sign in" />
        </template> -->
      </q-banner>
      <q-input label="Lotus node API token"
        hint="(Make sure you have setup port-forwarding on your router)"
        center
        :type="isPwd ? 'password' : 'text'"
        v-model="password"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
  <!--           <template v-slot:label>
          <strong class="text-deep-orange">You</strong>
          get the lotus port by:<em class="q-px-sm bg-purple text-white rounded-borders">cat ~/.lotus/api | grep -Eo "[0-9]{2,}"</em>
        </template> -->
      </q-input>

      <q-btn @click="testConnection" v-if="!loading" label="Save" outline/>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
export default defineComponent({
  name: 'EnterLotusToken',
  data() {
    return {
      password: '',
      isPwd: true,
    }
  }
})
</script>