<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="header-gradient">
        <q-toolbar-title class="text-center">
          GeoFile — (powered by Filecoin & Powergate )
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import EssentialLink from 'components/EssentialLink.vue'

import { defineComponent, ref } from '@vue/composition-api'

export default defineComponent({
  name: 'AuthLayout',
  components: { EssentialLink },
  setup () {
    // const leftDrawerOpen = ref(false)
    // const essentialLinks = ref(linksData)

    // return { leftDrawerOpen, essentialLinks }
  }
})
</script>

<style lang="scss" scoped>
.header-gradient {
  background: linear-gradient(225.1deg,#7e50ec,#6c5bf3 23.47%,#5665f8 49.62%,#3b6efc 74.96%,#0076ff);
}
</style>
