<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="header-gradient">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          GeoFile — (powered by Filecoin & Powergate )
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Essentials
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Dashboard',
    // caption: 'quasar.dev',
    icon: 'pie_chart',
    link: 'https://quasar.dev'
  },
  {
    title: 'Sectors',
    // caption: 'github.com/quasarframework',
    icon: 'data_usage',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Stats',
    // caption: 'chat.quasar.dev',
    icon: 'show_chart',
    // link: 'https://chat.quasar.dev'
  },
  {
    title: 'Alerts',
    // caption: 'chat.quasar.dev',
    icon: 'alarm_add',
    // link: 'https://chat.quasar.dev'
  },
  // {
  //   title: 'Forum',
  //   // caption: 'forum.quasar.dev',
  //   icon: 'record_voice_over',
  //   link: 'https://forum.quasar.dev'
  // },
  {
    title: 'Security Audit',
    // caption: '@quasarframework',
    icon: 'policy',
    // link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Settings',
    // caption: '@QuasarFramework',
    icon: 'settings',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'GeoFile',
    caption: '@filmine/geofile',
    icon: 'favorite',
    link: 'https://gitlab.com/filmine/geofile'
  }
]

import { defineComponent, ref } from '@vue/composition-api'

export default defineComponent({
  name: 'MainLayout',
  components: { EssentialLink },
  setup () {
    const leftDrawerOpen = ref(false)
    const essentialLinks = ref(linksData)

    return { leftDrawerOpen, essentialLinks }
  }
})
</script>

<style lang="scss" scoped>
.header-gradient {
  background: linear-gradient(225.1deg,#7e50ec,#6c5bf3 23.47%,#5665f8 49.62%,#3b6efc 74.96%,#0076ff);
}
</style>
