<template>
  <div class="fullscreen text-white text-center q-pa-md flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-md" style="max-width: 300px">
        <q-input v-model="miner" label="Miner ID" />
        <q-input v-model="email" label="Email" />
        <q-input type="password" v-model="password" label="Password" />
        <q-select
          filled
          v-model="country"
          use-input
          hide-selected
          fill-input
          input-debounce="0"
          :options="options"
          @filter="filterFn"
          hint="(Please select the country where your miner resides in)"
          style="width: 250px; padding-bottom: 32px"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-input v-model="city" label="City" />
        <q-btn label="Next" @click="next" outline/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import countries from '~/data/countries'
export default defineComponent({
  name: 'MinerRegisterPage',
  data() {
    return {
      model: null,
      miner: '',
      options: countries,
      email: '',
      password: '',
      country: '',
      city: ''
    }
  },
  methods: {
    filterFn (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.options = countries.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    next() {
      this.$router.push({ path: '/auth/miner-check-connection' })
    }
  }
})
</script>
