<template>
  <div class="fullscreen text-white text-center q-pa-md flex flex-center">
    <div class="q-pa-md ">
      <div class="q-gutter-md text-center" style="width: 500px;">
        <q-input v-if="!minerReachable" v-model="lotusIp" label="Lotus node ip address"
          hint="(eg. 93.134.214.190)"
        />
        <q-input v-if="!minerReachable" v-model="lotusPort" label="Lotus port"
          hint="(Make sure you have setup port-forwarding on your router)"
          center
          type="number"
        >
<!--           <template v-slot:label>
            <strong class="text-deep-orange">You</strong>
            get the lotus port by:<em class="q-px-sm bg-purple text-white rounded-borders">cat ~/.lotus/api | grep -Eo "[0-9]{2,}"</em>
          </template> -->
        </q-input>
        <q-btn @click="testConnection" v-if="!minerReachable && !loading" label="Test Connection" outline/>
        <q-circular-progress
          v-if="loading"
          indeterminate
          size="29px"
          :thickness="0.4"
          font-size="50px"
          color="lime"
          track-color="grey-3"
          center-color="grey-8"
          class="q-ma-md"
        />
        <q-banner v-if="error" inline-actions rounded class="bg-orange text-white">
          Failed to connect to your lotus node. Check if port forwarding on your router is enabled

          <template v-slot:action>
            <q-btn flat label="Dismiss" />
          </template>
        </q-banner>
<!--         <q-banner v-if="minerReachable" inline-actions rounded class="bg-green text-white">
          Yay! your Lotus node is reachable. Please proceed.

          <template v-slot:action>
            <q-btn flat label="Dismiss" />
          </template>
        </q-banner>
        <q-btn @click="next" v-if="minerReachable" label="Continue" outline/> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
// const { LotusRPC } = require('@filecoin-shipyard/lotus-client-rpc')
// const { NodejsProvider } = require('@filecoin-shipyard/lotus-client-provider-nodejs')
// const { testnet } = require('@filecoin-shipyard/lotus-client-schema')

import { LotusRPC } from '@filecoin-shipyard/lotus-client-rpc'
// import { NodejsProvider } from '@filecoin-shipyard/lotus-client-provider-nodejs'
import { BrowserProvider } from '@filecoin-shipyard/lotus-client-provider-browser'
import { mainnet } from '@filecoin-shipyard/lotus-client-schema'

// const url = 'ws://127.0.0.1:7777/rpc/v0'

export default defineComponent({
  name: 'MinerVerifyPage',
  data() {
    return {
    loading: false,
    lotusIp: '',
    lotusPort: '1234',
    error: false,
    minerReachable: false
  } },
  methods: {
    lotusClient() {

    },
    testConnection() {
      this.loading = true
      const url = `ws://${this.lotusIp}:${this.lotusPort}/rpc/v0`
      const provider = new BrowserProvider(url)
      // Create a client object with callable methods using a schema and
      // our provider. Calling methods on this object will send JSON-RPC
      // requests over the websocket.
      const client = new LotusRPC(provider, { schema: mainnet.fullNode })

      this.run(client).then( () => {
        console.log('DONE')
        this.$router.push( { path: '/auth/miner-verify' })
      })
    },
    async run (client) {
      console.log("ASYNC")
      try {
        // const version = await client.version()
        // console.log('Version', version)
      } catch (e) {
        console.error('client.version error', e)
        this.error = true
        this.loading = false
      }

      this.error = false
      this.loading = false
      this.minerReachable = true


      await client.destroy()
    }
  },
  computed: {
  }
})
</script>

<style lang="scss" scoped>
  .large-form {
    font-size: 38px;
  }
</style>
