<template>
  <div class="fullscreen text-white text-center q-pa-md flex flex-center">
    <div class="q-gutter-md text-center" style="width: 500px;">
      <q-banner inline-actions rounded class="bg-green text-white">
        Yay! your Lotus node is reachable.
        <template v-slot:action>
          <q-btn flat label="Dismiss" />
        </template>
      </q-banner>
      <q-banner rounded class="bg-purple-8 text-white text-justify">
        NOTE: We will store your token only temporary for the purposes of verification. You can view your token with this command:<br/>
         <q-badge color="blue">
          cat ~/.lotus/token
         </q-badge>
<!--         <template v-slot:action>p
          <q-btn flat color="white" label="Continue as a Guest" />
          <q-btn flat color="white" label="Sign in" />
        </template> -->
      </q-banner>
      <q-input label="Lotus node API token"
        hint=""
        center
        :type="isPwd ? 'password' : 'text'"
        v-model="password"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
  <!--           <template v-slot:label>
          <strong class="text-deep-orange">You</strong>
          get the lotus port by:<em class="q-px-sm bg-purple text-white rounded-borders">cat ~/.lotus/api | grep -Eo "[0-9]{2,}"</em>
        </template> -->
      </q-input>

      <q-btn @click="demoNext" v-if="!loading" label="Register" outline/>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
export default defineComponent({
  name: 'EnterLotusToken',
  data() {
    return {
      password: '',
      isPwd: true,
    }
  },

  props: {
    minerAddress() {
      return ''
    }
  },

  methods: {
    // TODO:

    // TODO: movo to vuex lotus/actions
    // getMinerAddress = () => async (dispatch) => {
    //   const minerClient = getClient({ nodeNumber: 0, nodeOrMiner: "miner" });
    //   const address = await minerClient.actorAddress();
    //   this.$vuex.actions.saveMinerAddress()
    //   dispatch({
    //     type: 'GET_MINER_ADDRESS'
    //     payload: address,
    //   });
    // },
    demoNext() {
      this.$router.push({ path: '/miner/select-datasets' })
    },
    verifyMinerPeer() {
      // calls our endpoints that wraps NetFindPeer to compare the miners libp2p address and the miner ID
      // MinerInfo.PeerId & MinerInfo.Owner are acquired via token and compared to the peers on the network
      this.$axios.get('https://geofile-api.filmine.io/miner/register', {
        params: {
          lotusIp: this.lotusIp,
          lotusPort: this.lotusPort,
          minerId: this.minerId
        }
      }).then((response) => {
        // route to dashboard or data choice selection
      })
    }
  }
})
</script>