<template>
  <div class=" text-white text-center q-pa-md justify-center flex flex-center">
    <div class="q-pa-md text-center">
      <div class="q-gutter-md" style="max-width: 800px">
        <q-select
          filled
          label="Select datasets you wish to seal the deal with via your miner"
          hint="Separate multiple values by [,;|]"
          v-model="model"
          use-input
          use-chips
          multiple
          input-debounce="0"
          @new-value="createValue"
          :options="filterOptions"
          @filter="filterFn"
          style="width: 700px"
        />
        <q-btn label="DONE" @click="next" outline/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
const stringOptions = ['COVID-19 Open Research Dataset', 'Chest X-Ray Images (Pneumonia)', 'Huge Stock Market Dataset', 'Condensed Movies', 'USENET (2005-2011)', 'Sloan Digital Sky Survey', 'GHTorrent Project', 'Free Music Archive', 'Open Images Dataset', 'Internet Archive', 'Common Crawl', 'Noisy speech database', 'NFL play-by-play', 'NYC Trip Record Data', 'National Cancer Institute', 'Public Blockchain Datasets', 'Landsat 8', 'Docker Images', 'Filecoin Proofs', 'Filecoin Trusted Setup', 'Audius', 'Flickr Commons', 'Arxiv', 'Audius', 'Blackbird Dataset', 'Linux ISO', 'ArchLinux', 'CentOS', 'Data is Plural', 'Tencent Corpus for Chinese Words and Phrases', 'R-fMRI Maps Project', 'National Palace Museum (Taiwan)', 'Congressional Datasets', 'Unsplash', 'Project Gutenberg', 'Monolith VR Material']
import { defineComponent } from '@vue/composition-api'
import countries from '~/data/countries'
export default defineComponent({
  name: 'MinerRegisterPage',
  data() {
    return {
      model: null,
      options: countries,
      email: '',
      password: '',
      country: '',

      filterOptions: stringOptions
    }
  },
  methods: {
    createValue (val, done) {
      // Calling done(var) when new-value-mode is not set or is "add", or done(var, "add") adds "var" content to the model
      // and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "add-unique", or done(var, "add-unique") adds "var" content to the model
      // only if is not already set and it resets the input textbox to empty string
      // ----
      // Calling done(var) when new-value-mode is "toggle", or done(var, "toggle") toggles the model with "var" content
      // (adds to model if not already in the model, removes from model if already has it)
      // and it resets the input textbox to empty string
      // ----
      // If "var" content is undefined/null, then it doesn't tampers with the model
      // and only resets the input textbox to empty string

      if (val.length > 0) {
        const model = (this.model || []).slice()

        val
          .split(/[,;|]+/)
          .map(v => v.trim())
          .filter(v => v.length > 0)
          .forEach(v => {
            if (stringOptions.includes(v) === false) {
              stringOptions.push(v)
            }
            if (model.includes(v) === false) {
              model.push(v)
            }
          })

        done(null)
        this.model = model
      }
    },
    filterFn (val, update) {
      update(() => {
        if (val === '') {
          this.filterOptions = stringOptions
        }
        else {
          const needle = val.toLowerCase()
          this.filterOptions = stringOptions.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          )
        }
      })
    },
    next() {
      this.$router.push({ path: '/miner' })
    }
  }
})
</script>
