<template>
  <div class=" text-white text-center q-pa-md flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-md">
        <div class="row">
          <div class="col-6 text-left">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label>Reward</q-item-label>
                  <q-item-label caption lines="2">Receieved 0.135 FIL reward for storing 128MB of "Sentinel 8" dataset</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>5 min ago</q-item-label>
                  <br/>
                 <q-badge color="green" label="success" />
                </q-item-section>
              </q-item>

              <q-separator spaced inset />

              <q-item>
                <q-item-section>
                  <q-item-label>Reward</q-item-label>
                  <q-item-label caption>Receieved 0.135 FIL reward for storing 128MB of "Sentinel 8" dataset</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>11 min ago</q-item-label><br/>
                  <q-badge color="green" label="success" />
                </q-item-section>
              </q-item>

              <q-separator spaced inset />

              <q-item>
                <q-item-section>
                  <q-item-label>Deal failed</q-item-label>
                  <q-item-label caption>Deal rejected for "Sentinel 8" dataset</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>15 min ago</q-item-label>
                  <br/>
                  <q-badge color="red" label="failed" />
                </q-item-section>
              </q-item>

              <q-separator spaced inset />

              <q-item>
                <q-item-section>
                  <q-item-label>Reward</q-item-label>
                  <q-item-label caption>Receieved 0.451 FIL reward for storing 128MB of "Sentinel 8" dataset</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>2 min ago</q-item-label>
                  <br/>
                  <q-badge color="green" label="success" />
<!--                   <div class="text-orange">
                    <q-icon name="star" />
                    <q-icon name="star" />
                    <q-icon name="star" />
                  </div> -->
                </q-item-section>
              </q-item>

              <q-separator spaced inset />

              <q-item>
                <q-item-section>
                  <q-item-label>Reward</q-item-label>
                  <q-item-label caption>Receieved 13 FIL reward for storing 128MB of "Noisy speech databasew" dataset</q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption>meta</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
          <div class="col-6">
            <v-chart width="300px" :options="foo" theme="dark"/>
            <br/>
            <v-chart width="300px" :options="bar" theme="dark"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

            // data: [
            //     {value: 335, name: 'Monolith VR Material'},
            //     {value: 310, name: 'Blackbird Dataset'},
            //     {value: 234, name: 'Noisy speech database'},
            //     {value: 135, name: 'R-fMRI Maps'},
            //     {value: 849, name: 'Congressional Datasets'}
function getFoo() {
  const option = {
      dataset: {
          source: [
              ['score', 'amount', 'product'],
              [89.3, 58.212, 'Monolith VR Material'],
              [57.1, 78.254, 'Blackbird Dataset'],
              [74.4, 41.032, 'Noisy speech database'],
              [50.1, 12.755, 'R-fMRI Maps'],
              [89.7, 20.145, 'Congressional Datasets'],
          ]
      },
      grid: {containLabel: true},
      xAxis: {name: 'FIL'},
      yAxis: {type: 'category'},
      visualMap: {
          orient: 'horizontal',
          left: 'center',
          min: 10,
          max: 100,
          text: ['High Score', 'Low '],
          // Map the score column to color
          dimension: 0,
          inRange: {
              color: ['#D7DA8B', '#E15457']
          }
      },
      series: [
          {
              type: 'bar',
              encode: {
                  // Map the "amount" column to X axis.
                  x: 'amount',
                  // Map the "product" column to Y axis
                  y: 'product'
              }
          }
      ]
  };

  return option;
}

function getBar() {
  const option = {

    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left: 10,
        data: ['Monolith VR Material', 'Blackbird Dataset', 'Noisy speech database', 'R-fMRI Maps', 'Congressional Datasets']
    },
    series: [
        {
            name: '',
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '30',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: [
                {value: 335, name: 'Monolith VR Material'},
                {value: 310, name: 'Blackbird Dataset'},
                {value: 234, name: 'Noisy speech database'},
                {value: 135, name: 'R-fMRI Maps'},
                {value: 849, name: 'Congressional Datasets'}
            ]
        }
    ]
};


  return option;

}

export default defineComponent({
  name: 'MinerDashboard',
  data() {
    return {
      bar: getBar(),
      foo: getFoo()
    }
  }
})
</script>

<style lang="scss">
// .echarts {
//   width: 300px;
//   height: 300px;
// }
</style>
